<div>
    <h2 id="page-heading">
        <span jhiTranslate="rabbitmqMonitoringApp.queue.home.title">Queues</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-queue" [routerLink]="['/queue/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="rabbitmqMonitoringApp.queue.home.createLabel">
            Create new Queue
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="queues">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="rabbitmqMonitoringApp.queue.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="count"><span jhiTranslate="rabbitmqMonitoringApp.queue.count">Count</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="rabbitmqMonitoringApp.queue.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="hostName"><span jhiTranslate="rabbitmqMonitoringApp.queue.host">Host</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let queue of queues ;trackBy: trackId">
                <td><a [routerLink]="['/queue', queue.id, 'view' ]">{{queue.id}}</a></td>
                <td>{{queue.name}}</td>
                <td>{{queue.count}}</td>
                <td>{{queue.description}}</td>
                <td>
                    <div *ngIf="queue.hostId">
                        <a [routerLink]="['../host', queue.hostId , 'view' ]" >{{queue.hostName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/queue', queue.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/queue', queue.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'queue/'+ queue.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
