<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-queue-heading" jhiTranslate="rabbitmqMonitoringApp.queue.home.createOrEditLabel">Create or edit a Queue</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!queue.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="queue.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rabbitmqMonitoringApp.queue.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="queue.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rabbitmqMonitoringApp.queue.count" for="field_count">Count</label>
                    <input type="number" class="form-control" name="count" id="field_count"
                        [(ngModel)]="queue.count" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rabbitmqMonitoringApp.queue.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="queue.description" required/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rabbitmqMonitoringApp.queue.host" for="field_host">Host</label>
                    <select class="form-control" id="field_host" name="host" [(ngModel)]="queue.hostId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="hostOption.id" *ngFor="let hostOption of hosts; trackBy: trackHostById">{{hostOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
