<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="credential">
            <h2><span jhiTranslate="rabbitmqMonitoringApp.credential.detail.title">Credential</span> {{credential.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="rabbitmqMonitoringApp.credential.username">Username</span></dt>
                <dd>
                    <span>{{credential.username}}</span>
                </dd>
                <dt><span jhiTranslate="rabbitmqMonitoringApp.credential.password">Password</span></dt>
                <dd>
                    <span>{{credential.password}}</span>
                </dd>
                <dt><span jhiTranslate="rabbitmqMonitoringApp.credential.host">Host</span></dt>
                <dd>
                    <div *ngIf="credential.hostId">
                        <a [routerLink]="['/host', credential.hostId, 'view']">{{credential.hostName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/credential', credential.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
